<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<style>
.validate_error_message {
	color: red;
}
</style>
<body>

	<!-- create navigation bar (header) -->  
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collasped"
					data-toggle="collasped" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Daz.Co.,Ltd</a>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<!-- create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<h1>Posting</h1>
				
				<form th:action="@{/posting}" method="post" th:object="${post}" enctype="multipart/form-data">
					<div th:if="${param.success}">
						<div class="alert alert-info">You've successfully posted!</div>
					</div>
					<div class="form-group">
						<label class="control-label" for="status">Status</label> <input
							id="status" class="form-control" name="status"
							autofocus="autofocus" required ="required"/>
						<p class="validate_error_message"
							th:if="${#fields.hasErrors('status')}" th:errorclass="error"
							th:errors="*{firstName}" />
					</div>
					<div class="form-group">
						<label class="control-label" for="image">Choose Post</label> <input type="file"
							class="form-control" name="image" id="image">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Post</button>
						<span><a href="/" th:href="@{/}">Back</a></span>
					</div>
				</form>
				
			</div>
		</div>
	</div>

</body>
</html>